body {
    margin: 0;
    height: 100%;
}

.logout {
    position: absolute;
    right: 10px;
}

.header {
    width: 100%;
    background: #212121d1;
    padding: 10px 0 10px 0;
    font-size: 16px;
    color: #fff;
}

.header a {
    color: #DCDCDC;
    padding-left: 15px;
    text-decoration: none;
}

.header a:hover {
    color: #ffffff;
}